//Header
//Mobile/Tablet screen
@media only screen and (max-width: 915px) {
  header {
    background: #ffffff;
    width: 100%;
    display: flex;
    overflow: auto;
    border-bottom: 2px solid rgba(0, 0, 0, 0.42);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 25px;
    .navbar {
      min-height: 70px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 20px;
      .nav-branding {
        font-size: 2rem;
        text-decoration: none;
        color: black;
        font-weight: 600;
      }
    }
  }

  .hamburger {
    display: block;
    .bar {
      display: block;
      width: 25px;
      height: 4px;
      margin: 5px auto;
      -webkit-transition: all 0.3s ease-in-out;
      background-color: rgb(0, 0, 0);
    }
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-menu {
    position: fixed;
    left: -107%;
    top: 70px;
    flex-direction: column;
    background-color: khaki;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }
  .navItem {
    margin: 16px 0;
  }
  .nav-menu.active {
    left: 0;
  }
}

//Desktop screen
@media only screen and (min-width: 915px) {
  header {
    background: #ffffff;
    border-bottom: 2px solid rgba(0, 0, 0, 0.42);
    .navbar {
      min-height: 70px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 20px;
      .nav-branding {
        font-size: 2rem;
        text-decoration: none;
        color: black;
        font-weight: 600;
      }
    }
  }

  .nav-menu {
    display: flex;
    padding-right: 15px;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    li {
      list-style: none;
      a {
        display: block;
        width: 120px;
        margin-right: 10px;
        text-align: center;
        font-weight: 500;
        font-size: 16px;
        text-transform: uppercase;
        color: rgb(0, 0, 0);
        border: 10px;
        border-radius: 15px 50px;
        letter-spacing: 2px;
        text-decoration: none;
      }
    }
  }
  .nav-link {
    transition: 0.7s ease;
  }
  .nav-link:hover {
    color: rgb(18, 122, 225);
  }

  .hamburger {
    display: none;
    cursor: pointer;
  }
}
