@use "../variables";
//Header
//Mobile/Tablet screen
@media only screen and (max-width: 915px) {
  header {
    background: #ffffff;
    width: 100%;
    display: flex;
    overflow: auto;
    // border-bottom: 2px solid rgba(0, 0, 0, 0.42);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    .nav-branding {
      padding: 10px 20px;
      .imgLogo {
        height: 45px;
      }
    }
  }
  .hamburger {
    position: fixed;
    top: 0;
    right: 0;
    display: block;
    cursor: pointer;
    padding-right: 15px;
    padding-top: 15px;
    .bar {
      display: block;
      width: 25px;
      height: 4px;
      margin: 5px auto;
      -webkit-transition: all 0.3s ease-in-out;
      background-color: rgb(0, 0, 0);
    }
  }

  a.nav-link:hover {
    color: rgb(124, 126, 128) !important;
  }
  .nav-menu {
    position: fixed;
    left: -109%;
    top: 55px;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    width: 100%;
    text-align: left;
    transition: 0.3s;
    .navItem {
      list-style: none;
      margin: 16px 0;
      .nav-link {
        text-decoration: none;
        color: rgb(0, 0, 0);
      }
    }
  }

  .nav-menu.active {
    left: 0;
  }
  .secondary-wreapper {
    position: fixed;
    right: 0;
    padding-top: 20px;
    padding-right: 60px;

    .secondary-items {
      .loginBtn {
        text-decoration: none;
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: 0.08em;
        height: 32px;
        padding: 8px 8px 4px;
        background-color: rgb(0, 0, 0);
        color: #fff;
        border-radius: 4px;
        //border: 1px solid #000;
        cursor: pointer;
      }
    }
  }
  .loginBtn:hover {
    background-color: rgb(124, 126, 128) !important;
    border: none;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
  }
}

//Desktop screen
@media only screen and (min-width: 915px) {
  header {
    display: flex;
    align-items: center;
    position: sticky;
    height: 80px;
    top: -5px;
    background: #ffffff;

    .nav-branding {
      padding: 10px 20px;
      .imgLogo {
        height: 50px;
      }
    }
  }
  .navbar {
    height: 70px;
    position: sticky;
    top: 0;
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;

    .nav-menu {
      display: flex;
      flex-direction: row;
      padding-right: 15px;
      gap: 10px;
      li {
        list-style: none;
        a {
          display: block;
          width: 120px;
          margin-right: 10px;
          text-align: center;
          font-family: variables.$body-font-family;
          font-weight: 500;
          font-size: 16px;
          text-transform: uppercase;
          color: rgb(0, 0, 0);
          border: 10px;
          border-radius: 15px 50px;
          letter-spacing: 2px;
          text-decoration: none;
        }
      }
    }
  }
  .nav-link {
    transition: 0.7s ease;
  }
  .nav-link:hover {
    color: rgb(124, 126, 128);
  }
  .secondary-wreapper {
    padding-right: 70px;

    .secondary-items {
      .loginBtn {
        text-decoration: none;
        text-transform: uppercase;
        font-size: 14px;
        letter-spacing: 0.08em;
        height: 32px;
        padding: 8px 8px 4px;
        background-color: rgb(0, 0, 0);
        color: #fff;
        border-radius: 4px;
        cursor: pointer;
      }
    }
  }
  .loginBtn:hover {
    background-color: rgb(124, 126, 128) !important;
    border: none;
  }
  .hamburger {
    display: none;
    cursor: pointer;
  }
}
