@use "elements/header";
@use "./elements/footer";
@use "./variables";

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: variables.$body-font-family;
}
//Landingpage
@media only screen and (max-width: 915px) {
  .theMainWrap {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    .welcome {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      align-items: center;
      padding: 50px;
      background-color: #ffffff;
    }
  }
  .logo {
    width: 90%;
  }
  .welcometext {
    font-family: variables.$heading-font-family;
    font-size: 55px;
    text-align: center;
  }

  .flex-row {
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  }

  .contentContainer {
    margin-bottom: 25px;
    margin-left: 25px;
    .overlay {
      display: none;
    }
  }
  .imgContainer {
    cursor: pointer;
    width: 318px;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .contentContainerTwo {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    .userTitle {
      font-family: variables.$heading-font-family;
      text-transform: uppercase;
      font-size: 20px;
    }
    .instaIcon {
      cursor: pointer;
      font-weight: 500;
      font-size: 25px;
      padding-left: 10px;
    }
  }
  .divUnderImg {
    display: flex;
    flex-direction: column;
  }
  .titleContent {
    text-transform: uppercase;
    text-align: left;
    font-size: 15px;
  }
  .userDate {
    text-align: left;
    font-size: 10px;
  }
}
@media only screen and (min-width: 915px) {
  //landingpage
  .theMainWrap {
    display: flex;
    flex-direction: column;
    .welcome {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 50px;
      background-color: #ffffff;
      width: 100%;
      .welcometext {
        font-family: variables.$heading-font-family;
        font-size: 70px;
        text-align: center;
      }
    }
  }
  .flex-row {
    padding-top: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    .contentContainer {
      margin-bottom: 25px;
      margin-left: 25px;
    }
  }
  .imgContainer {
    cursor: pointer;
    position: relative;
    width: 318px;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      transition: 0.5s ease;
      background-color: #d8dcdcad;
      .bloggId {
        padding-left: 5px;
        font-size: 11px;
        color: rgba(0, 0, 0, 0.466);
      }
      .titleContent {
        font-size: 20px;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        font-style: italic;
        font-weight: 600;
      }
      .userDate {
        font-size: 9px;
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        font-style: italic;
      }
    }
  }

  .imgContainer:hover .overlay {
    opacity: 1;
  }
  .contentContainerTwo {
    display: flex;
    flex-direction: row;
    padding-top: 10px;

    .userTitle {
      font-family: variables.$heading-font-family;
      text-transform: uppercase;
      font-size: 20px;
    }
    .instaIcon {
      cursor: pointer;
      font-weight: 500;
      font-size: 25px;
      padding-left: 10px;
    }
  }
  .divUnderImg {
    display: none;
  }
}
//End Landingpage
