@use "elements/header";
@use "./elements/footer";
@use "./variables";

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: variables.$body-font-family;
}
//
// START OF POST
//
@media only screen and (max-width: 915px) {
  #hero-container {
    height: 100vh;
    padding-top: 65px;
    .post-img-container {
      width: 100%;
      .post-img-header {
        width: 80%;
        height: 30vh;
        margin: 0 auto;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
    .prop-container {
      margin: 20px;
      padding: 30px;
      border-bottom: 2px solid black;
      .text-container {
        p {
          padding: 20px;
        }
      }
      .title-container {
        .post-title {
          padding: 20px;
          font-size: 30px;
          text-align: center;
          text-transform: uppercase;
        }
      }
      .date-container {
        .post-date {
          font-size: 12px;
          padding: 20px;
        }
      }
    }
  }
}

@media only screen and (min-width: 915px) {
  #hero-container {
    //height: 100vh; denna gjorde så att footern var mitt i sidan :)
    .post-img-container {
      width: 100%;
      .post-img-header {
        width: 80%;
        height: 30vh;
        margin: 0 auto;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
    .prop-container {
      width: 70%;
      margin: 0 auto;
      padding: 30px;
      border-bottom: 2px solid black;
      .text-container {
        p {
          padding: 20px;
        }
      }
      .title-container {
        .post-title {
          padding: 20px;
          font-size: 30px;
          text-align: center;
          text-transform: uppercase;
        }
      }
      .date-container {
        .post-date {
          font-size: 12px;
          padding: 20px;
        }
      }
    }
  }
}
